<footer class="footer">
    <div class="footer__social__name">
        <div class="footer__social">
            <p class="footer__title">Arpit Shrivastava <br> arpitshri21@gmail.com</p>
        </div>
        <div class="footer__social">
            <a href="https://github.com/Arpit-Shrivastva" target="_blank" class="footer__icon"><i
                    class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/arpit-shrivastava21/" target="_blank" class="footer__icon"><i
                    class='bx bxl-linkedin'></i></a>
            <a href="mailto:arpitshri21@gmail.com" class="footer__icon"><i class='bx bx-envelope'></i></a>
            <a href="https://www.instagram.com/arpit_shrivastva/" target="_blank" class="footer__icon"><i
                    class='bx bxl-instagram'></i></a>
            <br>
        </div>
    </div>
    <div class="footer-text">
        <p class="footer-note">© 2024 | Designed & coded with <span class="symbol">❤</span> by Arpit Shrivastava
        </p>
    </div>
</footer>