<section class="about-home" id="about">
    <h2 class="section-title">About Me</h2>
    <h3 class="section-sub-title">My introduction</h3>
    <div class="about__section">
        <div class="about__img">
            <img src="./assets/abt.jpg" alt="about-logo">
        </div>

        <div class="about__container">
            <h2 class="about__subtitle">Hey There,<br />My name is Arpit Shrivastava,</h2>
            <p class="about__text">
                I am a Certified Full Stack Developer, having successfully completed my training at <span><a
                        style="color:#4070F4; font-weight: 600; cursor: pointer; text-decoration: none;"
                        href="https://www.niit.com/india/" target="_blank">NIIT</a></span>. My journey as a
                Full
                Stack
                Developer has equipped me with a robust foundation in Java programming and proficiency in
                Frontend Technologies.
                <br /> <br />
                Passionate about technology, I am driven to contribute creative insights and expertise to
                exciting projects at the
                intersection of cutting-edge technology and user-centric design.
                <br><br>
                With a detail-oriented focus, I take pride in creating solutions that enhance application
                performance, ease of
                maintenance, and overall user experience.
            </p>
            <div class="buttons">
                <a href="../../assets/Arpit_Full.Stack_Fresher.pdf" download="Arpit_Full.Stack_Fresher.pdf"
                    class="button">
                    Resume <i class='bx bx-cloud-download'></i>
                </a>
            </div>

        </div>
    </div>
</section>