<section class="contact-section" id="contact">

    <h2 class="section-title">Contact me</h2>
    <h3 class="section-subtitle">Get in touch</h3>

    <div class="contact-container">
        <div class="contact">
            <div class="call-det">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"
                    style="fill: #ffb703;">
                    <path
                        d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z">
                    </path>
                </svg>
                <div class="phone">
                    <h1>Call me</h1>
                    <a href="tel:7389672612">73896-72612</a>
                </div>
            </div>
            <div class="call-det">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: #ffb703;">
                    <path
                        d="m18.73 5.41-1.28 1L12 10.46 6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64z">
                    </path>
                </svg>
                <div class="phone">
                    <h1>Email</h1>
                    <a href="mailto:arpitshri21@gmail.com">arpitshri21@gmail.com</a>
                </div>
            </div>
            <div class="call-det">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"
                    style="fill: #ffb703;">
                    <path
                        d="M12 22s8.029-5.56 8-12c0-4.411-3.589-8-8-8S4 5.589 4 9.995C3.971 16.44 11.696 21.784 12 22zM8 9h3V6h2v3h3v2h-3v3h-2v-3H8V9z">
                    </path>
                </svg>
                <div class="phone">
                    <h1>Location</h1>
                    <a href="">Niwari - Madhya Pradesh, India</a>
                </div>
            </div>
            <p class="abt-text">
                I would like to express my gratitude for taking the time to explore my portfolio.
                <br>
                Your visit is greatly appreciated.
            </p>
            <div class="contact-btn">
                <a href="https://drive.google.com/file/d/1UD_82iOX0M8RET_6wIUWzC_H8lOVLrVF/view?usp=sharing" class="btn"
                    target="_blank">Resume<i class="bx bx-download" style="margin-left: 4%; display: inline;"></i></a>
            </div>
        </div>
        <div class="form">
            <p>If you have any further questions or need additional details, please let me know.</p>
            <br>
            <form action="https://formsubmit.co/0c3498c34cea8ffb25f28c1e636fa790" method="POST">
                <div class="formbold-mb-5">
                    <label for="name" class="formbold-form-label"> Full Name </label>
                    <input type="text" name="name" id="name" placeholder="Regina Phalange" class="formbold-form-input"
                        required />
                </div>

                <div class="formbold-mb-5">
                    <label for="email" class="formbold-form-label"> Email Address </label>
                    <input type="email" name="email" id="email" placeholder="regina@centralperk.com"
                        class="formbold-form-input" required />
                </div>
                <div class="formbold-mb-5">
                    <label for="message" class="formbold-form-label"> Message </label>
                    <textarea name="message" id="message" placeholder="Write your message here" class="form--mssg"
                        rows="6" cols="50" required></textarea>
                </div>
                <div>
                    <button class="formbold-btn"><i style="display: inline;" class="bx bxl-telegram"></i> Send Message</button>
                </div>
            </form>
        </div>
    </div>
</section>