<header>
    <div class="main-head">
        <div class="main-home">
            <div class="home__social">
                <ul>
                    <li><a href="https://github.com/Arpit-Shrivastva" target="_blank" class="home__social-icon"><i
                                class='bx bxl-github'></i></a></li>
                    <li><a href="https://www.linkedin.com/in/arpit-shrivastava21/" target="_blank"
                            class="home__social-icon"><i class='bx bxl-linkedin'></i></a></li>
                    <li><a href="mailto:arpitshri21@gmail.com" class="home__social-icon"><i
                                class='bx bx-envelope'></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/arpit_shrivastva/" target="_blank"
                            class="home__social-icon"><i class='bx bxl-instagram'></i></a></li>
                </ul>
            </div>
            <div class="about-me">
                <h1>Hi, I'am Arpit</h1>
                <h2>Full Stack Developer</h2>
                <p>Full Stack Developer with skills in Java and Frontend Technologies. Enthusiastic about creating
                    innovative solutions
                    with technology and design converge.</p>
                <div class="buttons">
                    <a href="https://www.linkedin.com/in/arpit-shrivastava21/" target="_blank" class="button"><i
                            class="bx bxs-coffee"></i>Contact me</a>
                </div>
            </div>
            <div class="contact-img">
                <img src="../../assets/arp.jpg" alt="My-Img" class="my-img" />
            </div>
        </div>
        <div class="scroller">
            <i style="display: inline;" class='bx bx-mouse'></i>
            <p>
                Scroll down
            </p>
            <i style="display: inline;" class='bx bx-chevrons-down'></i>
        </div>
    </div>
</header>