<div class="skill-section" id="skill">
    <h1>Skills</h1>
    <h2>My Technical Level</h2>
    <div class="full-skills">
        <div class="skills">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Frontend Skills">
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>Angular</h2>
                            <h2>70%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>Javascript</h2>
                            <h2>80%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>Typescript</h2>
                            <h2>70%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>HTML 5</h2>
                            <h2>90%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>CSS</h2>
                            <h2>85%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>SCSS</h2>
                            <h2>60%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                        
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="skills">
            <p-accordion [activeIndex]="1">
                <p-accordionTab header="Backend Skills">
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>Java</h2>
                            <h2>70</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>Spring Boot</h2>
                            <h2>65%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>Microservices</h2>
                            <h2>80%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>Spring</h2>
                            <h2>60%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="skills">
            <p-accordion [activeIndex]="1">
                <p-accordionTab header="DB Skills">
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>MySql</h2>
                            <h2>75%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                    </div>
                    <div class="f_skill">
                        <div class="skill_percent">
                            <h2>MongoDB</h2>
                            <h2>75%</h2>
                        </div>
                        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>