<div class="portfolio" id="portfolio">
    <h2>Portfolio</h2>
    <h3>Most recent work</h3>

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <!-- item 1 -->
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="card_ d-block w-70">
                    <div class="card-img">
                        <img src="../../assets/epd.jpg" class="d-block w-70" alt="...">
                    </div>
                    <div class="card-detail d-block w-100">
                        <h2>Epic Dining Restaurant</h2>
                        <p>Epic Dining, a Mumbai-based full-stack project, transforms dining
                            with an Angular-powered frontend and Spring Boot
                            backend, ensuring seamless order processing. Tailwind CSS enhances the user-friendly
                            interface for easy navigation
                            through a diverse menu. This innovative platform combines Angular,
                            Spring Boot, and Tailwind CSS,
                            redefining the online food ordering landscape and bringing Mumbai's exquisite flavors
                            directly to your doorstep.</p>
                        <p class="tech-details">Technologies - <span class="tech-main">Java, Spring Boot,
                                Microservices,
                                Angular, Mysql, MongoDb, Tailwind</span></p>
                        <a href="https://github.com/Arpit-Shrivastva/Epic-Dining-Restaurant" target="_blank"
                            class="work-icon"><i class='bx bxl-github'></i></a>
                    </div>
                </div>
            </div>

            <!-- item 2 -->
            <div class="carousel-item" data-bs-interval="3000">
                <div class="card_ d-block w-70">
                    <div class="card-img">
                        <img src="../../assets/mkb.jpg" class="d-block w-70" alt="...">
                    </div>
                    <div class="card-detail d-block w-100">
                        <h2>My Kanban Board</h2>
                        <p>Effortlessly manage your workflow using our Kanban Board—a
                            versatile
                            tool that empowers you to organize tasks
                            efficiently. Customize your board, categorize tasks into distinct columns, and witness
                            the
                            seamless movement of tasks
                            across stages. Enhance collaboration by inviting team members to the board, allowing you
                            to
                            assign and track tasks
                            collectively. Experience the ease of task management, team
                            collaboration, and progress
                            tracking, all within one intuitive platform.</p>
                        <p class="tech-details">Technologies - <span class="tech-main">Java, Spring Boot,
                                Microservices,
                                Angular, Mysql, MongoDb</span></p>
                        <a href="https://github.com/Arpit-Shrivastva/Kanban-board" target="_blank" class="work-icon"><i
                                class='bx bxl-github'></i></a>
                    </div>
                </div>
            </div>

            <!-- item 3 -->
            <div class="carousel-item" data-bs-interval="3000">
                <div class="card_ d-block w-70">
                    <div class="card-img">
                        <img src="../../assets/bmc.jpg" class="d-block w-70" alt="...">
                    </div>
                    <div class="card-detail d-block w-100">
                        <h2>Bake My Cake</h2>
                        <p>Bake My Cake is an innovative online cake ordering application
                            developed
                            using Angular framework, TypeScript, HTML, and
                            CSS. With a user-friendly interface, it allows customers to effortlessly browse through
                            a
                            delectable range of cakes,
                            place orders, and customize their sweet treats. The application ensures a seamless and
                            delightful experience, combining
                            the power of Angular for robust functionality and an appealing design crafted with HTML
                            and
                            CSS.</p>
                        <p class="tech-details">Technologies - <span class="tech-main">Angular, Html, Css,
                                Typescript,
                                Json</span></p>
                        <a href="https://github.com/Arpit-Shrivastva/Bake-My-Cake-Online-Cake-Ordering-App"
                            target="_blank" class="work-icon"><i class='bx bxl-github'></i></a>
                    </div>
                </div>
            </div>

            <!-- item 4 -->
            <div class="carousel-item" data-bs-interval="3000">
                <div class="card_ d-block w-70">
                    <div class="card-img">
                        <img src="../../assets/crc.jpg" class="d-block w-70" alt="...">
                    </div>
                    <div class="card-detail d-block w-100">
                        <h2>CrickInfo</h2>
                        <p>CrickInfo, a full-stack application meticulously crafted, offers a
                        seamless user experience for cricket enthusiasts.
                        With a focus on delivering real-time updates, the app features a dynamic landing page
                        showcasing live matches and their
                        scores. The intuitive design extends to a dedicated point table page, providing users
                        with a
                        comprehensive overview of
                        the World Cup standings. Experience the thrill of the World Cup with
                        CrickInfo – where information meets
                        innovation.</p>
                        <p class="tech-details">Technologies - <span class="tech-main">Java, Spring Boot, Angular,
                                Web
                                Scraping, Tailwind</span></p>
                        <a href="https://github.com/Arpit-Shrivastva/Crickinformer-Apllication" target="_blank" class="work-icon"><i
                                class='bx bxl-github'></i></a>
                    </div>
                </div>
            </div>
        </div>



        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



</div>